# CSV consolidation

## Description

The point of this script is to list all the CSV of a directory, concatenate them in one dataframe and export the  consolidated data in a new CSV.

In [1]:
# Library importation

import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join
import math

In [17]:
# Declaration of variables 
import_path = "/home/exalis/Téléchargements/BACKUP/2020_01_17"
export_path = "/home/exalis/Téléchargements/BACKUP/"
export_name = "consolidated_dataset_2020_01_17.csv"

In [3]:
# List of Files
list_of_files = [f for f in listdir(import_path) if isfile(join(import_path, f))]
list_of_files = sorted(list_of_files)
print("number of files:", len(list_of_files))

number of files: 1435

In [4]:
# Setting number of trucations
split_size = 100
split_number = math.trunc(len(list_of_files)/split_size) + 1

# Creation of list of batch
batch = np.split(np.array(pd.DataFrame(list_of_files)[0:(split_number-1)*split_size]) ,split_number-1)

# Adding the last files
batch.append(np.array(pd.DataFrame(list_of_files[(split_number-1) * split_size:len(list_of_files)])))

In [5]:
# Initialisation of consolidated dataframe with first csv of the list

df_conso = pd.read_csv(import_path+"/"+list_of_files[0],sep="%")

# Addition of notion of date
df_conso['date']= list_of_files[0][:-4]

# Conservation of only headers
df_conso = df_conso[0:0]

# Conservation of only headers
df_template = df_conso

In [6]:
# Each csv is loaded, processed and addated to consolidated dataframe
df_conso = df_template
print("Consolidation in progress:")
print("---------------------------")

for j in range(split_number):
    df_conso_temp = df_template
    for i in range(len(batch[j])):
        df_temp = pd.read_csv(import_path+"/"+batch[j][i][0],sep="%")
        # Addition of the date / name of the file
        df_temp['date']= batch[j][i][0][:-4]
        df_conso_temp = pd.concat([df_conso_temp,df_temp])
        if i == (split_size -1):
            df_conso = pd.concat([df_conso,df_conso_temp])
    print("{}/{} ({}%)".format(j*split_size+i+1,len(list_of_files),round((j*split_size+i+1)/len(list_of_files)*split_size,1)))
print("---------------------------")
print("Consolidation complete")

Consolidation in progress:
---------------------------
100/1435 (7.0%)
200/1435 (13.9%)
300/1435 (20.9%)
400/1435 (27.9%)
500/1435 (34.8%)
600/1435 (41.8%)
700/1435 (48.8%)
800/1435 (55.7%)
900/1435 (62.7%)
1000/1435 (69.7%)
1100/1435 (76.7%)
1200/1435 (83.6%)
1300/1435 (90.6%)
1400/1435 (97.6%)
1435/1435 (100.0%)
---------------------------
Consolidation complete

In [7]:
df_conso.shape

(1941138, 22)

In [8]:
df_conso.head()

,Nombre de bornes disponibles,Nombre vélo en PARK+,Nombres de bornes en station,PARK + activation,densityLevel,Achat possible en station (CB),Description station,maxBikeOverflow,Etat du Totem,nbFreeDock,...,nbDock,Nombre vélo électrique,Nombre vélo en PARK+.1,Code de la station,Nom de la station,Etat des stations,Type de stations,geo,duedate,date
0,29,0,35,no,1,no,"{""code"": ""16107"", ""name"": ""Benjamin Godard - V...",0,yes,0,...,0,4,0,16107,Benjamin Godard - Victor Hugo,Operative,yes,"48.865983,2.275725",2018-07-15,2020_01_17_00:00:01
1,48,0,52,no,1,yes,"{""code"": ""6015"", ""name"": ""André Mazet - Saint-...",55,yes,3,...,3,2,0,6015,André Mazet - Saint-André des Arts,Operative,yes,"48.8537558106,2.33909580857",2018-04-05,2020_01_17_00:00:01
2,20,0,21,no,1,yes,"{""code"": ""9020"", ""name"": ""Toudouze - Clauzel"",...",21,yes,0,...,0,1,0,9020,Toudouze - Clauzel,Operative,yes,"48.8792959173,2.33736008406",2018-11-30,2020_01_17_00:00:01
3,14,0,20,no,1,no,"{""code"": ""11104"", ""name"": ""Charonne - Robert e...",0,yes,0,...,0,1,0,11104,Charonne - Robert et Sonia Delauney,Operative,yes,"48.855907556,2.39257067442",2018-10-22,2020_01_17_00:00:01
4,18,0,30,no,1,no,"{""code"": ""12109"", ""name"": ""Mairie du 12ème"", ""...",30,yes,0,...,0,3,0,12109,Mairie du 12ème,Operative,yes,"48.8408553118,2.38755494356",2019-03-28,2020_01_17_00:00:01

In [9]:
df_conso.columns

Index(['Nombre de bornes disponibles', 'Nombre vélo en PARK+',
       'Nombres de bornes en station', 'PARK + activation', 'densityLevel',
       'Achat possible en station (CB)', 'Description station',
       'maxBikeOverflow', 'Etat du Totem', 'nbFreeDock',
       'Nombre de vélo mécanique', 'PARK +', 'nbDock',
       'Nombre vélo électrique', 'Nombre vélo en PARK+.1',
       'Code de la station', 'Nom de la station', 'Etat des stations',
       'Type de stations', 'geo', 'duedate', 'date'],
      dtype='object')

In [10]:
# Converting columns to english
english_labels = ["nbfreeedock","nbbikeoverflow","nbedock","overflowactivation","densityLevel","creditcard","station","maxBikeOverflow","kioskstate","nbFreeDock","nbbike","overflow","nbdock","nbebike","nbbikeeoverflow","station_code","station_name","station_state","station_type","geo","duedate","date"]
df_conso.columns = english_labels

In [11]:
# Naming useless columns
useless_columns = ["nbbikeoverflow","overflowactivation","station","maxBikeOverflow","overflow","nbbikeeoverflow","duedate"]

# Deleting useless columns
for i in useless_columns:
    del df_conso[i]

In [12]:
df_conso.shape

(1941138, 15)

In [13]:
df_conso.head()

,nbfreeedock,nbedock,densityLevel,creditcard,kioskstate,nbFreeDock,nbbike,nbdock,nbebike,station_code,station_name,station_state,station_type,geo,date
0,29,35,1,no,yes,0,2,0,4,16107,Benjamin Godard - Victor Hugo,Operative,yes,"48.865983,2.275725",2020_01_17_00:00:01
1,48,52,1,yes,yes,3,2,3,2,6015,André Mazet - Saint-André des Arts,Operative,yes,"48.8537558106,2.33909580857",2020_01_17_00:00:01
2,20,21,1,yes,yes,0,0,0,1,9020,Toudouze - Clauzel,Operative,yes,"48.8792959173,2.33736008406",2020_01_17_00:00:01
3,14,20,1,no,yes,0,5,0,1,11104,Charonne - Robert et Sonia Delauney,Operative,yes,"48.855907556,2.39257067442",2020_01_17_00:00:01
4,18,30,1,no,yes,0,9,0,3,12109,Mairie du 12ème,Operative,yes,"48.8408553118,2.38755494356",2020_01_17_00:00:01

# Modifying the hour of the date (adding an 1h)

In [14]:
# Setting right format
df_conso["date"] = df_conso["date"].str.replace("_","-")
df_conso["date"] = df_conso["date"].apply(lambda x: x[0:10]+" "+x[11:16])

# Adding an hour
df_conso["date"]  = df_conso["date"].apply(lambda x: pd.Timestamp(x)+ pd.Timedelta(hours=1))

# Adding the weekday
df_conso["weekday"]  = df_conso["date"].apply(lambda x: x.day_name())

In [15]:
df_conso.head()

,nbfreeedock,nbedock,densityLevel,creditcard,kioskstate,nbFreeDock,nbbike,nbdock,nbebike,station_code,station_name,station_state,station_type,geo,date,weekday
0,29,35,1,no,yes,0,2,0,4,16107,Benjamin Godard - Victor Hugo,Operative,yes,"48.865983,2.275725",2020-01-17 01:00:00,Friday
1,48,52,1,yes,yes,3,2,3,2,6015,André Mazet - Saint-André des Arts,Operative,yes,"48.8537558106,2.33909580857",2020-01-17 01:00:00,Friday
2,20,21,1,yes,yes,0,0,0,1,9020,Toudouze - Clauzel,Operative,yes,"48.8792959173,2.33736008406",2020-01-17 01:00:00,Friday
3,14,20,1,no,yes,0,5,0,1,11104,Charonne - Robert et Sonia Delauney,Operative,yes,"48.855907556,2.39257067442",2020-01-17 01:00:00,Friday
4,18,30,1,no,yes,0,9,0,3,12109,Mairie du 12ème,Operative,yes,"48.8408553118,2.38755494356",2020-01-17 01:00:00,Friday

# Export

In [18]:
# Export of the consolidated dataframe

df_conso.to_csv(export_path+export_name)